.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 40px);
}

.form {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    max-width: 500px;
    border: 2px solid grey;
    padding: 20px;
}